img {
width: unset;
height:300px;
}
.footnote {
    color:rgb(99, 48, 48);
    font-size: small;
    text-align: center;
    vertical-align: text-bottom;
}
.content {
    color: gold;
}
p {
font-size:200%;
font-family:verdana;
}
h2 {
font-size:150%;
font-family:"Lucida Console", "Courier New", monospace;
}
body{
background-color: lightblue;
}

nav {
    background-color:rgb(255, 252, 252); 
    font-size: medium;
    padding: 5px;
    border: 3px solid black;
    margin: 10px 0 10px 0;
    
}
 
nav a {
    color: white;
    text-decoration-line: none;
}

a:hover {
color: peru;
text-decoration-line:underline;
}
a:visited {
    color:darkred;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #faf8f8;
  position: fixed;
  Bottom: 0;
  Width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}